@font_main_color: #ff4d00;
@sub_color: #fff;
@mainFont: 24px;
@minWidth: 550px;

body{
	height: 100%;
	font-family: 'Oswald', sans-serif;
}
header{
	min-height: 100vh;
	width: 100%;
	background: url(../img/header/fon.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
	.header__title{
		margin-left: 60%;
		padding-top: 15%;
		width: @minWidth;
		h1{
			color: @font_main_color;
			font-size: @mainFont*2.5;
		}
		p{
			font-size: @mainFont*1.37;
			color: @sub_color;
		}
	}
}
.main{
	height: 60vh;
	border-bottom: 1px solid grey;
	.main__left{
		width: @minWidth - 90px;
		float: left;
		margin-top: 50px;
		h1{
			font-size: @mainFont*1.5;
			border-left: 3px solid @font_main_color;
			padding-left: 5px;
			font-weight: 600;
		}
		.main__left--list{
			margin-top: 30px;
			text-align: justify;
			font-size: @mainFont - 1px;
		}
	}
	.main__right{
		float: left;
		width: @minWidth;
		height: @minWidth/1.83;
		margin-top: 130px;
		margin-left: 100px;
		.carousel{
			.carousel-inner{
				.carousel-item{
					img{
						height: @minWidth/1.83;
						width: @minWidth;
					}
				}
			}
		}
	}
}
.chouse_us{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	h1{
		font-size: @mainFont*2;
		color: @font_main_color;
	}
}
.bonusi{
	overflow: hidden;
	.bonusi__block{
		float: left;
		width: 33%;
		text-align: center;
		padding: 0 10px;
		i{
			color: @font_main_color;
			margin-bottom: 20px;
		}
		h1{
			font-size: @mainFont + 10px;
			font-weight: 600;
		}
		p{
			font-size: @mainFont - 5px;
			color: grey;
			margin-bottom: 50px;
		}
	}
}

footer{
	background: url(../img/footer/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
	overflow: hidden;
	.footer__left{
		float: left;
		width: 20%;
		color: @sub_color;
		text-align: justify;
		margin-top: 10px;
		margin-left: 50px;
	}
	.footer__center{
		float: left;
		width: 40%;
		font-size: @mainFont;
		color: @sub_color;
		margin-left: 60px;
		margin-top: 3px;
		a{
			color: @sub_color;
			margin-left: 65px;

		}
		a:hover{
			color: @font_main_color;
		}
	}
	.footer__contacts{
		width: 20%;
		float: left;
		h1{
			font-size: @mainFont;
			color: @sub_color;
			margin-top: 7px;
		}
		a{
			color: @sub_color;
			font-size: @mainFont - 3px;
		}
		a:hover{
			text-decoration: none;
			color: @font_main_color;
		}
	}
}